<html>   
    <head>
        <%= render 'header' %>
    </head>

    <body>
        <div class="container">    
            <div class='mails'>
            <h1>mailbox</h1>
                <% @emails.each do |f| %>
                    <%= link_to email_path(f.id), remote: true do %>
                        <div class="mailcontainer-one">
                            Email N° <%= f.id %> <br>
                            From: <%= f.sender %><br>
                            <span id="new" class="attribute_<%= f.id %>">NEW!</span>
                            <br>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div id="read" style="display:none">
            </div>
        </div>
    </body>
</html>