<html>   
    <head>
        <%= render 'header' %>
    </head>

    <body>
        <div class="container">    
            <div class='mails'>
            <h1>Mailbox</h1>
                <% @emails.each do |f| %>
                    <%= link_to email_path(f.id), remote: true do %>
                            <div class="mailcontainer">
                                Email N° <%= f.id %> <br>
                                Object: <%= f.object %><br>
                                Status: <%= f.read %>
                                <br>
                            </div>
                    <% end %>
                <% end %>
            </div>
            <div id="read" style="display:none">
                <h1>Content<h1>
            </div>
        </div>
    </body>
</html>